<!DOCTYPE html>
<html lang="es" >
<head>
    <meta charset="UTF-8">
    <title>Crear ofertas</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/css/bootstrapValidator.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/register.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>
<body>
    {% block content %}
        <div class="busqueda">
            {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
            {% endfor %}
            {% block page_content %}{% endblock %}
        </div>
    {% endblock %}

    <div class="container">

        <form class="well form-horizontal" action=" " method="post" id="survey_form">
            <fieldset>
                <div class="right">
                    <a class="btn btn-info" type="button" href="{{ url_for('home') }}" role="button">Volver al menu</a>
                </div>
                <legend><center><h2><b>Crear nueva oferta de trabajo</b></h2></center></legend><br>


                <div class="form-group">
                    <label class="col-md-4 control-label">Título del puesto de trabajo</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input  name="title_job" id="title_job" placeholder="Ej: Consultor Jr" style="font-style: italic" class="form-control" type="text" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Ciudad</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input  name="city" id="city" placeholder="Ej: Madrid" style="font-style: italic" class="form-control" type="text" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Grado</label>
                    <div class="col-md-4 selectContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                            <select name="grado" class="form-control selectpicker">
                                <option value="">Selecciona el grado</option>
                                <option value=0>Ingenieria Informatica</option>
                                <option value=1>Ingenieria Industrial</option>
                                <option value=2>Ingenieria Telecomunicaciones</option>
                                <option value=3>Data Scientist</option>
                                <option value=4>Matemáticas</option>
                                <option value=5>Física</option>
                                <option value=6>ADE</option>
                                <option value=7>Derecho</option>
                                <option value=8>Marketing</option>
                                <option value=9>Sociología</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Nota media</label>
                    <div class="col-md-4 selectContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                            <select name="nota_media" class="form-control selectpicker">
                                <option value="">Selecciona la nota media</option>
                                <option value=5>5</option>
                                <option value=6>6</option>
                                <option value=7>7</option>
                                <option value=8>8</option>
                                <option value=9>9</option>
                                <option value=10>10</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Inglés</label>
                    <div class="col-md-4 selectContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                            <select name="ingles_level" class="form-control selectpicker">
                                <option value="">Selecciona el nivel</option>
                                <option value=0>No aplica</option>
                                <option value=1>Nivel básico</option>
                                <option value=2>Nivel medio</option>
                                <option value=3>Nivel avanzado</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Aleman</label>
                    <div class="col-md-4 selectContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                            <select name="aleman_level" class="form-control selectpicker">
                                <option value="">Selecciona el nivel</option>
                                <option value=0>No aplica</option>
                                <option value=1>Nivel básico</option>
                                <option value=2>Nivel medio</option>
                                <option value=3>Nivel avanzado</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Frances</label>
                    <div class="col-md-4 selectContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                            <select name="frances_level" class="form-control selectpicker">
                                <option value="">Selecciona el nivel</option>
                                <option value=0>No aplica</option>
                                <option value=1>Nivel básico</option>
                                <option value=2>Nivel medio</option>
                                <option value=3>Nivel avanzado</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Trabajo en equipo</label>
                    <div class="col-md-4 selectContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                            <select name="trabajoEquipo_level" class="form-control selectpicker">
                                <option value="">Selecciona el nivel</option>
                                <option value=0>No aplica</option>
                                <option value=1>Nivel básico</option>
                                <option value=2>Nivel medio</option>
                                <option value=3>Nivel avanzado</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Comunicación</label>
                    <div class="col-md-4 selectContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                            <select name="comunicacion_level" class="form-control selectpicker">
                                <option value="">Selecciona el nivel</option>
                                <option value=0>No aplica</option>
                                <option value=1>Nivel básico</option>
                                <option value=2>Nivel medio</option>
                                <option value=3>Nivel avanzado</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Matemáticas</label>
                    <div class="col-md-4 selectContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                            <select name="matematicas_level" class="form-control selectpicker">
                                <option value="">Selecciona el nivel</option>
                                <option value=0>No aplica</option>
                                <option value=1>Nivel básico</option>
                                <option value=2>Nivel medio</option>
                                <option value=3>Nivel avanzado</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Estadística</label>
                    <div class="col-md-4 selectContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                            <select name="estadistica_level" class="form-control selectpicker">
                                <option value="">Selecciona el nivel</option>
                                <option value=0>No aplica</option>
                                <option value=1>Nivel básico</option>
                                <option value=2>Nivel medio</option>
                                <option value=3>Nivel avanzado</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Gestión Proyectos</label>
                    <div class="col-md-4 selectContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                            <select name="gestionProyectos_level" class="form-control selectpicker">
                                <option value="">Selecciona el nivel</option>
                                <option value=0>No aplica</option>
                                <option value=1>Nivel básico</option>
                                <option value=2>Nivel medio</option>
                                <option value=3>Nivel avanzado</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Sostenibilidad</label>
                    <div class="col-md-4 selectContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                            <select name="sostenibilidad_level" class="form-control selectpicker">
                                <option value="">Selecciona el nivel</option>
                                <option value=0>No aplica</option>
                                <option value=1>Nivel básico</option>
                                <option value=2>Nivel medio</option>
                                <option value=3>Nivel avanzado</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Big Data</label>
                    <div class="col-md-4 selectContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                            <select name="bigData_level" class="form-control selectpicker">
                                <option value="">Selecciona el nivel</option>
                                <option value=0>No aplica</option>
                                <option value=1>Nivel básico</option>
                                <option value=2>Nivel medio</option>
                                <option value=3>Nivel avanzado</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Programación</label>
                    <div class="col-md-4 selectContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                            <select name="progra_level" class="form-control selectpicker">
                                <option value="">Selecciona el nivel</option>
                                <option value=0>No aplica</option>
                                <option value=1>Nivel básico</option>
                                <option value=2>Nivel medio</option>
                                <option value=3>Nivel avanzado</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4"><br>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button type="submit" name="botonRegistro" value="botonCrear" class="btn btn-warning" >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspCrear oferta <span class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js'></script>
<script src="${pageContext.request.contextPath}/bootstrapValidator/js/bootstrapValidator.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
<script src="{{ url_for('static', filename= 'js/register.js') }}"></script>
<script src="{{ url_for('static', filename= 'js/survey.js') }}"></script>

</body>
</html>
