<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'fonts/icomoon/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/home/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/home/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/home/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'fonts/icomoon/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/home/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/home/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/home/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'vendor/animate/animate.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'vendor/select2/select2.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'vendor/perfect-scrollbar/perfect-scrollbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/verAlumn/util.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/verAlumn/main.css') }}">


    <title>Calcular Simulitud Ofertas Nuevas</title>
  </head>
  <body>


    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    
    <header class="site-navbar" role="banner">

      <div class="container">
        <div class="row align-items-center">

          <div class="col-11 col-xl-2">
            <h1 class="mb-0 site-logo"><a class="text-white mb-0">JOBS</a></h1>
          </div>
          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                <li ><a href="{{ url_for('home')}}"><span>Home</span></a></li>
                <li class="has-children">
                  <a href="href={{ url_for('home')}}"><span>Alumnos</span></a>
                  <ul class="dropdown arrow-top">
                    <li><a href="{{ url_for('survey')}}">Añadir/Modficar Skills</a></li>
                    <li><a href="{{ url_for('mostrar_skills')}}">Mostrar mi CV</a></li>
                    <li><a href="{{ url_for('ver_ofertas')}}">Ver ofertas</a></li>
                    <li><a href="{{ url_for('recomendarOfertas')}}">Recomendacion</a></li>
                  </ul>
                </li>
                <li class="has-children">
                  <a href="href={{ url_for('home')}}"><span>Empresas</span></a>
                  <ul class="dropdown arrow-top">
                    <li><a href="{{ url_for('crearOfertas')}}">Crear ofertas</a></li>
                    <li><a href="{{ url_for('ver_alumnos')}}">Ver alumnos</a></li>
                  </ul>
                </li>
                <li class="has-children">
                  <a href=""><span>Admin</span></a>
                  <ul class="dropdown arrow-top">
                    <li><a href="{{ url_for('asignarOfertas') }}">Asignar Ofertas</a></li>
                    <li><a href="{{ url_for('similitudOfertasNuevas')}}">Calcular similitud ofertas nuevas</a></li>
                  </ul>
                </li>
                <li><a href="{{ url_for('chat')}}" onClick="window.open('chat','Chat','resizable,height=750,width=400'); return false;"><span>Chat</span></a></li>
                <li><a href="{{ url_for('perfil')}}"><span>Perfil</span></a></li>
                <li><a href="{{ url_for('logout')}}"><span>Cerrar Sesión</span></a></li>
              </ul>
            </nav>
          </div>

          <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

          </div>

        </div>
      </div>

    </header>

    <div class="hero" style="background-image: url('static/images/hero_1.jpg');"></div>
    <h1>Calcular Simulitud Ofertas Nuevas</h1>
        <form method="post">
            <input type="submit" value="Enviar este formulario" />
        </form>

    <div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100 ver1 m-b-110">
					<div class="table100-head">
						<table>
							<thead>
								<tr class="row100 head">
									<th class="cell100 column1">Job id </th>
									<th class="cell100 column2">Vecino</th>
								</tr>
							</thead>
						</table>
					</div>

					<div class="table100-body js-pscroll">
						<table>
							<tbody>
                            {% for item in ejemplo %}
								<tr class="row100 body">
									<td class="cell100 column1">{{ item.job_id }}</td>
									<td class="cell100 column2">{{ item.vecinos }}</td>
								</tr>
                            {% endfor %}
							</tbody>
						</table>
					</div>
				</div>
            </div>
        </div>
    </div>


    <script src="{{ url_for('static', filename= 'js/home/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/home/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/home/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/home/jquery.sticky.js') }}"></script>
  <script src="{{ url_for('static', filename= 'js/home/main.js') }}"></script>
  </body>
</html>